{% extends 'customer/base.html' %}
{% load bootstrap4 %}

{% block main %}

<h3 class="text-info text-center mt-4">Basic Information</h3>
<div class="card bg-white pt-2 mb-2">
	<div class="card-body">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form user_form %}
			<p class="mt-1"></p>
			{% bootstrap_form customer_form %}
			<input type="hidden" name="action" value="update_profile">
			<button type="submit" class="btn btn-warning btn-rounded mt-3">Save</button>
		</form>
	</div>
</div>

<h4 class="text-secondary mt-4 pt-3">Change Password</h4>
<div class="card bg-white pt-2 mb-2">
	<div class="card-body">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% bootstrap_form password_form %}
			<input type="hidden" name="action" value="update_password">
			<button type="submit" class="btn btn-warning btn-rounded mt-3">Save</button>
		</form>
	</div>
</div>

{% endblock %}